{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Cadastre-se | NUTRE LIFE{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">

    <script src="{% static 'autenticacao/js/senha.js'%}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    

{% endblock  %}


{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    
                    <h2 class="logo" style="font-weight: bold; font-family: Skranji, cursive; font-size: 50px; margin-top: 50%; color: white;
                    text-shadow: 1px 1px 2px black, 0 0 25px rgb(11, 202, 161), 0 0 5px rgb(14, 103, 119);">
                        NutriLife
                        <!-- <img class="img_logo_sidebar" src="{% static 'autenticacao/img/logo_nutri_lab.png' %}"> -->
                    </h2>

                </div>

                
            </div>

            <div class="col-md-9">


                <div class="area_cadastrar">
                    {% if messages %}

                        {% for message in messages %}

                            <div class="alert {{message.tags}}" role="alert">
                                {{message}}
                            </div>

                        {% endfor %}
                    {% endif %}

                    <h2 class="titulo">Seja bem vindo</h2>
                    <p class="sub-titulo">Crie sua conta</p>
                    <hr>


                    <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                        <span class="bold">Nome de usuário</span>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                        <br>
                        <span class="bold">E-mail</span>
                        <input class="form-control input-form" name="email" type="email" placeholder="Digite seu E-mail...">
                        <br>
                        <div class="row">
                            <div class="col-md">
                                
                                <span class="bold">Senha</span>
                                
                                <input id="password" class="form-control input-form" name="senha" name="password" type="password" maxlength="6" placeholder="Digite sua senha...">
                                

                                
                                
                                <br>                                 
                                {% if senha == '1' %}
                                    <span class="alert alert-danger" role="alert">Sua senha deve conter 6 ou mais caractertes</span>
                                {% elif senha == '2' %}
                                    <span class="alert alert-danger" role="alert">As senhas não coincidem!</span>
                                {% elif senha == '3' %}
                                    <span class="alert alert-danger" role="alert">Sua senha não contem letras maiúsculas</span>
                                {% elif senha == '4' %}
                                    <span class="alert alert-danger" role="alert">Sua senha não contem letras minúsculas</span>
                                {% elif senha == '5' %}
                                    <span class="alert alert-danger" role="alert">Sua senha não contém números</span>
                                {% endif %}
                                </span>
                                <!-- <img id="olho" onclick="eyeClick()" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="/> -->
                            </div>

                            <div class="col-md">
                                <span class="bold">Confirmar senha</span>
                                <input id="password" class="form-control input-form" name="confirmar-senha" type="password" maxlength="6" placeholder="Confirme sua senha...">
                                <!-- <img id="olho" onclick="eyeClick()" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="/> -->
                            </div>
                        </div>
                        <br>
                        <button class="btn-first">Registrar</button>

                    </form>

                    <h3 style="position: absolute; bottom: 65px; font-weight: bold">Já possui uma conta ?&nbsp <a href="{% url 'logar' %}" class="btn btn-outline-success btn-lg">Logar</a> </h3>
                </div>

            </div>

        </div>


    </div>




{% endblock %}