{% extends 'base_plataforma.html' %}
{% load static %}
{% block 'titulo' %}PACIENTES | NUTRE LIFE{% endblock %}
{% block 'head_paciente' %}
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    
    
	
    <script type="text/javascript">
        $(document).ready(function(){
            $('#phone').mask('(00) 00000-0000'); 
        });

    </script>
{% endblock %}
{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>

    <h1 class="pac">Pacientes</h1>
    <br>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
      Novo paciente
    </button>



    <br>
    <br>
    <div  class="row">
        {% for paciente in pacientes %}
        <div class="col-md-4">
            <a href="#" class="link-hover">
                <div class="card card-paciente">
                    <div class="foto-perfil">

                        {% if paciente.sexo == "M" %}
                            <img src="{{paciente.perfil.url}}" width="100%" height="100%">
                            <p class="card-img-overlay" align="right" style="color: #141a7c; font-family: 'Marko One', serif; font-weight: bold;">M</p>
                        {% else %}
                            <img src="{{paciente.perfil.url}}" width="100%" height="100%">
                            <p class="card-img-overlay" align="right" style="color: #7c145a; font-family: 'Marko One', serif; font-weight: bold;">F</p>
                        {% endif %}
                    </div>
                    <br>
                    <div class="" align="center">

                        <h5 class="card-title dados" style="font-family: 'Zen Dots', cursive;">{{paciente.nome}}</h5>
                        <p class="dados">{{paciente.idade}} Anos</p>

                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title titulo" id="exampleModalLabel">Cadastrar paciente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <div class="modal-body">
                  <form action="{% url 'pacientes' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}


                      <div class="row">
                          <label>Foto Perfil:</label>
                          <input type="file" class="form-control"  name="perfil">




                      </div>

                      <br>
                      <label>Nome:</label>
                      <input type="text" placeholder="Digite o nome do paciente..." class="form-control" name="nome">

                      <br>

                      <div class="contrainer">
                          <div class="row">
                              <div class="col-md-4">
                                  <label>Idade:</label>
                                  <input type="number" placeholder="0" class="form-control" name="idade">
                              </div>
                              <div class="col-md-6">
                                  <label >Sexo:</label><br>
                                  <input name="sexo" type="radio" value="M" id="M"><label for="M" align="right" style="color: #141a7c; font-family: 'Marko One', serif; font-weight: bold;"> Masculino</label>
                                  <input name="sexo" type="radio" value="F" id="F"><label for="F" align="right" style="color: #7c145a; font-family: 'Marko One', serif; font-weight: bold;"> Feminino</label>
<!--                                  <select name="sexo" class="form-control">-->
<!--                                      <option value="M">Masculino</option>-->
<!--                                      <option value="F">Feminino</option>-->
<!--                                  </select>-->
                              </div>
                          </div>

                          </div>
                      <br>

                      <label>E-mail:</label>
                      <input type="email" placeholder="exemple@email.com" class="form-control" name="email">

                      <br>

                      <label>Telefone:</label>
                      <input id="phone" type="text" placeholder="+55 (00) 00000-0000" class="form-control" name="telefone">
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="Registar">

                  </form>


              </div>

          </div>
      </div>
    </div>
{% endblock%}