{% extends 'base_plataforma.html' %}
{% load static %}
{% block 'titulo' %}PACIENTES | NUTRE LIFE{% endblock %}
<link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>

    <h1 class="pac">Pacientes</h1>
    <br>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
      Novo paciente
    </button>



    <br>
    <br>
    <div  class="row">
        {% for paciente in pacientes %}
        <div class="col-md-4">
            <a href="#" class="link-hover">
                <div class="card card-paciente">
                    <div class="foto-perfil">

                        {% if paciente.sexo == "M" %}

                        <p class="card-img-overlay" align="right" style="color: #141a7c; font-family: 'Marko One', serif; font-weight: bold;">M</p>
                        {% else %}
<!--                        <img src="{% static 'plataforma/img/contato_f.png' %}" width="95px" height="110px">-->
                        <p class="card-img-overlay" align="right" style="color: #7c145a; font-family: 'Marko One', serif; font-weight: bold;">F</p>
                        {% endif %}
                    </div>
                    <br>
                    <div class="" align="center">

                    <h5 class="card-title dados" style="font-family: 'Zen Dots', cursive;">{{paciente.nome}}</h5>
<!--                    <p class="dados">{{paciente.idade}} Anos</p>-->

                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title titulo" id="exampleModalLabel">Cadastrar paciente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <div class="modal-body">
                  <form action="{% url 'pacientes' %}" method="POST">{% csrf_token %}


                      <div class="row">

                          <div class="col-md-5">
                              <label>Foto Perfil:</label>
                              <input type="file" class="form-control" placeholder="" name="imagem">
                          </div>

                          <div class="col-md-6">
                              <label>Sexo:</label>
                              <select name="sexo" class="form-control">
                                  <option value="M">Masculino</option>
                                  <option value="F">Feminino</option>
                              </select>

                          </div>

                      </div>

                      <br>
                      <label>Nome:</label>
                      <input type="text" placeholder="Digite o nome do paciente..." class="form-control" name="nome">

                      <br>

                      <label>Idade:</label>
                      <input type="number" placeholder="0" class="form-control" name="idade">

                      <br>

                      <label>E-mail:</label>
                      <input type="email" placeholder="exemple@email.com" class="form-control" name="email">

                      <br>

                      <label>Telefone:</label>
                      <input type="text" placeholder="+55 (00) 00000-0000" class="form-control" name="telefone">
                      <br>
                      <input type="submit" class="btn btn-success btn-lg" value="Registar">

                  </form>


              </div>

          </div>
      </div>
    </div>
{% endblock%}