{% extends 'base_plataforma.html' %}
{% load static %}
{% block 'titulo' %}Plano Alimentar| NUTRE LIFE{% endblock %}
{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <h1 class="pac">Plano Alimentar</h1>
	<h2 class="titulo">Escolha o paciente</h2>
    <div  class="row">
        {% for paciente in pacientes %}
            <div class="col-md-4">
                <a href="{% url 'plano_alimentar' paciente.id %}" class="link-hover">
                    <div class="card card-paciente">
                        <div class="foto-perfil">
                           
                            {% if paciente.sexo == "M" %}
                                <img src="{{paciente.perfil.url}}" width="100%" height="100%">
                            {% else %}
                                <img src="{{paciente.perfil.url}}" width="100%" height="100%">
                            {% endif %}
                        </div>
                        <br>

                        <div class="body" align="center">
                            <h5 class="dados" style="font-family: 'Zen Dots', cursive;">{{paciente.nome}}</h5>


                        </div>

                        
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}