
.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  content: "\f0c9"; /* fa-bars, fa-navicon */
}

.sidebar{
    background-color: #27DB8F;
    height: 100vh;
}


.logo_sidebar{
    text-align: center;
}

.img_logo_sidebar{
    width: 100%;


}

.sidebar{

    background-image: linear-gradient(232deg, rgba(9,121,101,1) 16%, rgba(8,12,130,1) 29%, rgba(8,134,122,1) 71%, rgba(0,212,255,1) 100%);

}

.area_cadastrar{
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
}

.titulo{

    font-weight: bold;


}

.sub-titulo{
    color: gray;
}

.input-form{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    outline: 0;

}

.input-form:focus{

    border: 3px solid #27DB8F !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.bold{
    font-weight: bold;
}

.btn-first{

    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    background-color: rgba(30,69,133,1);
    color: white;
    font-weight: bold;

}
